<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="book-stack-fav-icon.png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href="dist/hamburgers.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|East+Sea+Dokdo|Megrim|Monoton|Permanent+Marker|Rock+Salt|Squada+One|UnifrakturMaguntia" rel="stylesheet">
 
  
  <title>Counter Culture Bakery</title>
</head>
  <body>
    <header>
        <div class="left-nav"><h1 class="myheader">Counter Culture Bakery</h1></div>
        <div class="right-nav">
          <ul>
            <li class="navlinks right-nav"><a href="/">Home</a></li>
            <li class="navlinks right-nav"><a href="/donuts">Donuts</a></li>
            <li class="navlinks right-nav"><a href="/cupcakes">Cupcakes</a></li>
            <li class="navlinks right-nav"><a href="/cakes">Cakes</a></li>
          </ul>
        </div>
    </header>
    <section>
      <%= yield %> 
    </section>
      <div id="main">
        <main>     
            <div class="all-items-container" id="row1">
              <div><img class="grid-images" src="images/cakes/classic-victoria-sponge-cake.jpg"><br>Victoria Sponge Cake</div>
              <div><img class="grid-images" src="images/cakes/fresh-strawberry-cake.jpg"><br>Strawberry Cake</div>
              <div><img class="grid-images" src="images/cakes/lemon-lava-cakes.jpg"><br>Lemon Lava Cake</div>
            </div>
            <div class="all-items-container" id="row2">
              <div><img class="grid-images" src="images/cakes/matcha-mille-crepe-cake.jpg"><br>Matcha Mille Crepe Cake</div>
              <div><img class="grid-images" src="images/cakes/molten-chocolate-cake.jpg"><br>Molten Chocolate Cake</div>
              <div><img class="grid-images" src="images/cakes/rainbow-surprise-inside-cake.jpg"><br>Rainbow Surprise Cake</div>
            </div>
            <div class="all-items-container" id="row3">
              <div><img class="grid-images" src="images/cakes/tuscan-apple-cake.jpg"><br>Tuscan Apple Cake</div>
              <div><img class="grid-images" src="images/cakes/red-velvet-cake.jpg"><br>Red Velvet Cake</div>
              <div><img class="grid-images" src="images/cakes/vegan-lemon-bluberry-swirl-cheesecake.jpg"><br>Vegan Lemon Cheesecake</div>
            </div>
        </main>

      </div>
      <footer> 
          <p>Contact Us</p>
          P.O. Box 19268<br>
          1000 GG Amsterdam<br>
          The Netherlands<br>
          +31 (0)20 525 1400<br> 
          
      </footer>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="main.js"></script>
  </body>
</html>