<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="images/cupcake-silhouette.png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|East+Sea+Dokdo|Megrim|Monoton|Permanent+Marker|Rock+Salt|Squada+One|UnifrakturMaguntia" rel="stylesheet">
 
  
  <title>Counter Culture Bakery</title>
</head>
  <body>
    <header>
        <div class="left-nav"><h1 class="myheader">Counter Culture Bakery</h1></div>
        <div class="right-nav">
          <ul>
            <li class="navlinks right-nav"><a href="/">Home</a></li>
            <li class="navlinks right-nav"><a href="/donuts">Donuts</a></li>
            <li class="navlinks right-nav"><a href="/cupcakes">Cupcakes</a></li>
            <li class="navlinks right-nav"><a href="/cakes">Cakes</a></li>
          </ul>
        </div>
    </header>
      <section>
        <%= yield %> 
      </section>
        <div id="main">
           <main>             
            <div class="all-items-container" id="row1">
              <div><img class="grid-images" src="images/donuts/funetti.jpg"><br>Funetti Confetti Donuts</div>
              <div><img class="grid-images" src="images/donuts/glazed-waffle.jpg"><br>Glazed Waffle Donuts</div>
              <div><img class="grid-images" src="images/donuts/pistachio-pumpkin.jpg"><br>Pistachio Pumpkin Donuts</div>
            </div>
            <div class="all-items-container" id="row2">
              <div><img class="grid-images" src="images/donuts/nutella.jpg"><br>Nutella Donuts</div>
              <div><img class="grid-images" src="images/donuts/baked-maple.jpg"><br>Baked Maple Donuts</div>
              <div><img class="grid-images" src="images/donuts/smoresbaked.jpg"><br>Smores Baked Donuts</div>
            </div>
            <div class="all-items-container" id="row3">
              <div><img class="grid-images" src="images/donuts/vegan-sprinkles.jpg"><br>Vegan Sprinkles Donuts</div>
              <div><img class="grid-images" src="images/donuts/lemon-poppyseed.jpg"><br>Lemon Poppyseed Donuts</div>
              <div><img class="grid-images" src="images/donuts/snickerdoodle.jpg"><br>Snickerdoodle Donuts</div>
            </div>
        </main>

      </div>
      <footer> 
          <p>Contact Us</p>
          P.O. Box 19268<br>
          1000 GG Amsterdam<br>
          The Netherlands<br>
          +31 (0)20 525 1400<br>   
      </footer>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="main.js"></script>
  </body>
</html>