<form action="/" method="post" id="usrform">
  <strong>Hey hot stuff,<br>
  Sign up for our sweet newsletter!<br></strong><br>

  Name: <br>
  <input type="text" name="name" placeholder="Enter your name">
  <br>
  Email Address:<br>
  <input type="email" name="email" placeholder="Enter your email">
  <br>
  <input type="submit" value="submit">
  <%# <input type="submit"></input> %>
</form>