body {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  /* font-family: 'Bungee Shade', cursive;
  font-family: 'East Sea Dokdo', cursive;
  font-family: 'Megrim', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Squada One', cursive;
  font-family: 'UnifrakturMaguntia', cursive; */
}
header {
  height: 120px;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 100%;
  grid-column-gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #FF00C7;
  z-index: 2;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  box-shadow: #6d5e6dad 3px 3px 3px;
  position: relative;
  overflow: visible;
}
h1 {
  width: 100%;
}
.myheader {
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  word-wrap: none;
  font-size: 3.6em;
  margin-top: 0px;
  padding: 20px;
  padding-left: 20px;
  text-shadow: white 5px 4px 4px;
  list-style-type: none;
}
.left-nav {
  display: block;
  float: left;
  list-style-type: none;
}
.right-nav {
  /* display: inline-block; */
  float: right;
}
ul {
  list-style-type: none;
}
.navlinks a {
    z-index: 6;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    letter-spacing: 5px;
    padding: 10px;
    /* grid-column-start: 6; */
    margin-top: 15px;
    /* text-align: center; */
    text-decoration: none;
    line-height: 5px;
    list-style-type: none; 
    width: 100%;
    word-break: keep-all;
}
.navlinks a:hover {
  background-color: black 1px 1px 1px;
}
.mainimg {
  width: 100%;
  height: 650px;
  align-items: center;
  /* margin-left: 40px;
  margin-right: 20px; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: none;
}
div.main {
  display: inline-grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 25% 100px auto;
  grid-area: main;
  grid-template-areas: 
    "main main . sidebar";
}
img.donutscat {
  width: 100%;
}
.donutscat {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8em;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
img.cupcakescat {
  width: 100%;
}
.cupcakescat {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8em;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
img.cakescat {
  width: 100%;
}
.cakescat {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.8em;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
#usrform {
  background-color: #E2DEFF;
  padding: 30px;
  color: black;
  font-family: 'Megrim', cursive;
  font-size: 1.8em;
  width: 300px;
  height: 340px;
}
aside {
  opacity: 0;
  position: absolute;
  top: 200px;
  right: 10px;
  width: 400px;
  height: 340px;
  animation: modalFadeIn 2.6s forwards;
}
@keyframes modalFadeIn {
  0% {opacity: 0;}
  10% {opacity: 0.10;}
  15% {opacity: 0.15;}
  25% {opacity: 0.25;}
  35% {opacity: 0.35;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  75% {opacity: 0.75;}
  85% {opacity: 0.85;}
  100% {opacity: 1;}
}
section {
  background-color: #E2DEFF;
  padding-top: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Megrim', cursive;
  text-align: center;
  font-size: 1.6em;
  width: 100%;
  height: 150px;
  line-height: 20px;
}
.all-items-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 350px;
  /* grid-column-gap: 15px;
  grid-row-gap: 15px; */
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 45px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3em;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  grid-column-gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.grid-images {
  width: 350px;
  height: 350px;
}
#row1 {
  opacity: 0;
	animation-duration: 2.5s;
	animation-name: fadein;
  animation-fill-mode: forwards;
  box-shadow: #6d5e6dad 4px 4px 4px;

}
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
#row2 {
	opacity: 0;
	animation-duration: 4s;
	animation-name: fadein;
  animation-fill-mode: forwards;
  box-shadow: #6d5e6dad 4px 4px 4px;
}
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
#row3 {
	opacity: 0;
	animation-duration: 5.5s;
	animation-name: fadein;
  animation-fill-mode: forwards;
  box-shadow: #6d5e6dad 4px 4px 4px;
}
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
footer {
  background-color: #E2DEFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  height: 150px;
  padding: 30px;
}
@media screen and (max-width: 1250px) {
    .navlinks .right-nav .left-nav {
        float: none;
        width: 50%;
        font-size: x-small;
    }
    header {
      height: 140px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 70px 70px;
      line-height: 1.5;
    }
    .myheader {
      font-size: 2.4em;
    }
    #usrform {
      background-color: #E2DEFF;
      padding: 30px;
      color: black;
      font-family: 'Megrim', cursive;
      font-size: 0.9em;
      width: 100%;
      height: 180px;
      position: absolute;
      top: 150px;
      right: 30px;
    }
    aside {
      opacity: 0;
      position: absolute;
      top: 150px;
      right: 30px;
      width: 140px;
      height: 200px;
      animation: modalFadeIn 2.6s forwards;
    }
    @keyframes modalFadeIn {
      0% {opacity: 0;}
      10% {opacity: 0.10;}
      15% {opacity: 0.15;}
      25% {opacity: 0.25;}
      35% {opacity: 0.35;}
      50% {opacity: 0.5;}
      60% {opacity: 0.6;}
      75% {opacity: 0.75;}
      85% {opacity: 0.85;}
      100% {opacity: 1;}
    }
    section {
      background-color: #E2DEFF;
      padding-top: 15px;
      margin-top: 0px;
      color: black;
      font-family: 'Megrim', cursive;
      text-align: center;
      font-size: 0.9em;
      width: 100%;
      height: 200px;
      line-height: 5px;
    }
}
@media screen and (max-width: 500px) {
    header {
      height: 90px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px 40px;
      line-height: 1.5;
    }
    .myheader {
      font-size: 1.8em;
      padding: 10px;
      text-align: center;
    }
    .navlinks a {
      font-size: 0.7em;
      text-align: center;
    }
    .mainimg {
      width: 100%;
      height: 350px;
      align-items: center;
      /* margin-left: 40px;
      margin-right: 20px; */
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px;
      display: none;
    }
    .grid-images {
    width: 100px;
    height: 100px;
    }
}
/* @media screen and (max-width: 900px) and (min-width: 600px) */
@media screen and (max-width: 400px) and (min-width: 200px) {
    header {
      height: 90px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px 40px;
      line-height: 1.5;
    }
    .myheader {
      font-size: 1.5em;
      padding: 10px;
      text-align: center;
    }
    .navlinks a {
      font-size: 0.5em;
      text-align: center;
      padding-bottom: 15px;
    }
    #usrform {
      background-color: #E2DEFF;
      padding: 10px;
      color: black;
      font-family: 'Megrim', cursive;
      font-size: 0.5em;
      width: 100%;
      height: 120px;
      position: absolute;
      top: 60px;
      right: 30px;
    }
    input {
      width: 90px;
    }
    aside {
      opacity: 0;
      position: absolute;
      top: 60px;
      right: 30px;
      width: 100px;
      height: 130px;
      animation: modalFadeIn 2.6s forwards;
    }
    @keyframes modalFadeIn {
      0% {opacity: 0;}
      10% {opacity: 0.10;}
      15% {opacity: 0.15;}
      25% {opacity: 0.25;}
      35% {opacity: 0.35;}
      50% {opacity: 0.5;}
      60% {opacity: 0.6;}
      75% {opacity: 0.75;}
      85% {opacity: 0.85;}
      100% {opacity: 1;}
    }
    section {
      background-color: #E2DEFF;
      padding-top: 15px;
      margin-top: 0px;
      color: black;
      font-family: 'Megrim', cursive;
      text-align: center;
      font-size: 0.5em;
      width: 100%;
      height: 80px;
      line-height: 15px;
    }
    .all-items-container {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 100px;
      /* grid-column-gap: 15px;
      grid-row-gap: 15px; */
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 32px;
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'Permanent Marker', cursive;
      font-size: 0.6em;
      text-align: center;
      }
      footer {
        background-color: #E2DEFF;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        height: 130px;
        margin: 10px;
        padding: 5px;
      }
}